.wrapper {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 8px;
    grid-auto-rows: minmax(90px, auto);
    grid-template-rows: max-content;
}
  
  .wrapper > * {
    background-color: rgb(0, 162, 255)
    border:3px solid gray;
  }

  .general_info {
    grid-column: 1 / 7;
    grid-row: 1 / 2;
    
  }
  .picture { 
    grid-column: 7;
    grid-row: 1 / 2;
    background-color:white;
    
  }
  
  .pro_summary {
    grid-column: 1 / 8;
    grid-row: 2;
    
  }
  
.education {
    grid-column: 1 / 5;
    grid-row: 3 / 6;
    
    justify-content: center;
  }
  .work_experience {
    grid-column: 5 / 8;
    grid-row: 3 / 6;
      }

  .skills {
    grid-column: 1 / 5;
    grid-row: 6 / 8;
    
  }
  .courses {
    grid-column: 5 / 8;
    grid-row: 6 / 8;
    

  }

  
    h3, h4 {
        font-family:Arial, Helvetica, sans-serif;

    h4{
      text-align:center;
      margin-block-start: 0.5em;
      
    
  }

  li{
      padding-right: 5px;
      margin-block-start: 0.2em;
      margin-left: 0px;

  }

  p {
      padding-left: 5px;
      padding-right: 5px;
      text-align: justify;
      margin-block-start: 0.5em;
     

  }

  h3 {
      padding-left: 5px;
      
      
  }
