*{
    margin:0px;
    padding:0px;    
}
@font-face {/*https://designmodo.com/font-face/#how-to-use-font-face*/
    font-family: DeliciousRoman;
    src: url('http://www.font-face.com/fonts/delicious/Delicious-Roman.otf');
}
@font-face {
    font-family: 'Turret Road', cursive;
    src: url('https://fonts.googleapis.com/css2?family=Turret+Road:wght@700&display=swap');
}
body{
    font-family: 'Vampiro One', cursive;
    box-sizing:border-box;/*feedback*/
    width:98%;
    margin-left: auto;
    margin-right: auto;
    background-image:url(images/background-image.jpg)
}
img{
    width:250px;/*feedback*/
}
ul{
    list-style:none;/*feedback*/
}
h1, h2{
    color:white;
    text-align: center;
    height:50px;
    border:3px solid blue;
    padding-top: 5px;
}
h1{
    background-color:black;
    margin-top:15px;
    font-family: DeliciousRoman, Helvetica, Arial, sans-serif;/*https://designmodo.com/font-face/#how-to-use-font-face*/
    transition: color;
}
h1:hover {
  background-color: red; 
}
h2{
    background-color:gray;
    margin-top:25px;
    font-family: 'Turret Road', cursive; /*https://fonts.google.com/specimen/Turret+Road?sidebar.open=true&selection.family=Turret+Road:wght@700*/
    transition: color;
}
h2:hover{
    background-color: red;
}
#grid-floats .grid-item{/*includes h3, image and p tags*/
    width:23%;
    height: 40%;
    margin-left: 20px;
    margin-top:15px;
    text-align:center;
    float:left;
}
p::first-letter { /*to make the first letter bigger*/
  font-size: 200%;
  color: blue;
}
p::first-line {/*to make the firs line blue*/
  color: blue;
}
/*floats Desktop view*/
#grid-floats{
    overflow:auto;/*overflow:auto on parent div clears floats*//*feedback*/
}
#grid-floats.grid-item{ /*feedback*/
    display:inline-block;
    box-sizing: border-box;
    width:25%;
    padding:1rem;
    float:left;
}
#grid-floats.grid-item:first-child{/*feedback*/
    width:50%;
    float:left;
}
#grid-floats.grid-item:nth-child(3n+4){/*feedback*/
    clear:both;
}
#grid-floats li:first-child{
    float:left;
    width:40%;      
}
#grid-floats li:nth-child(12){/*Something is preventing this child behave normally!*/
    clear:right;
    clear:left;
}
@media (max-width:600px){/*floats mobile phone view begins*/
    
    #grid-floats .grid-item{
        width:100%;
    }
    #grid-floats li:first-child{ 
        width:100%; 
    }    
}
@media only screen and (min-width: 600px) and (max-width: 1024px) /*grid floats tablet view */
{
    #grid-floats .grid-item{
        width:28%;
    }
    #grid-floats li:first-child{/*feedback*/
        width:45%;
        float:left;
    }
    #grid-floats li:nth-child(2){/*feedback*/
        width:45%;
        clear:right;
    }
    #grid-floats li:nth-child(3n+3){/*feedback*/
        clear:both;
    }    
}
h2{
    clear:both;
}
h3{
    text-align:center;
    color:blue;
}
#grid-floats img {  
    max-width: 50%;  
    height: auto; 
    display:inline;
    margin-left:auto;
    margin-right:auto;
    background-color: red;
    animation-name: example;
    animation-duration: 3s;
    background-image:url(images/sky.jpg)
}
@keyframes example {    /*https://www.w3schools.com/cssref/css3_pr_animation-keyframes.asp*/
    from {max-width: 50%;}
    to {max-width: 75%;}
}
#grid-floats img:hover{ 
    transform: scale(1.5); /* (150% zoom) */
    border-radius:100px;
    border:1px solid red;
}
#grid-floats p{
    padding-left: 10px;
    text-align: justify;
    padding-right: 10px;
    color:black;
    line-height: 1.5;
}
/*#grid-floats p:hover{ /*I had to remove this because it was pushing the following line below. */
    /*transform: scale(1.08); /* (150% zoom) */
    /*background-color:black;
    color:white;
    border:1px solid red;
    opacity: 0.5;
    padding: 15px 25px;    
}*/

#grid-flex{/*the start of grid-flex*//*Desktop View*/
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    height:250px;
    margin-left: 25px;       
}
#grid-flex .grid-item{
    border-bottom: 1px solid red;
    margin-top: 10px;
    padding-bottom: 10px;
    resize: both; /*to let the user resize horizontally and vertically*/
    overflow:auto;
    text-align:center;
    width:24%;
}   
#grid-flex img { 
    display: flex;
    align-items: flex-start;
    max-width: 40%;  
    height: auto; 
    justify-content: left;
    display:inline;
    margin-left:auto;
    margin-right:auto;
    background-image:url(images/sky.jpg)
}
#grid-flex img:hover{ 
    transform: scale(1.5); /* (150% zoom) */
}
/*flexbox desktop view*/
#grid-flex li:first-child{
    width:45%;   
}
#grid-flex li:nth-child(2){
    width:25%;
    margin-left: 10px;
}
#grid-flex li:nth-child(3){
    width:25%;
    margin-left: 15px;    
}
@media (max-width:600px){/*flexbox mobile phone view*/   
    #grid-flex .grid-item{
        flex-basis:100%;
    }
}     
@media screen and (min-device-width: 600px) and (max-device-width: 1024px)/*flexbox tablet view*/
{
#grid-flex .grid-item{
    width:33%;
}  
#grid-flex li:first-child, #grid-flex li:nth-child(2){    
    width:45%;
}
}
